* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
.errorMessage {
  font-size: 1.1em;
  color: red;
  display: inline-block;
}

.btn {
  background: #00cede;
}
